<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author Profile</title>

    <!-- Link to the bootstrap stylesheet:  insert this just before the </head> tag  (this version fits on a page) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/myStyles.css" type="text/css" >
    <!-- END Link to the bootstrap stylesheet -->

</head>
<style>
    body {
        background: url("../images/medium_white.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<body>
    <div class="marginAll">
        <h2>Author Profile Page</h2>
        <br />
        <div th:replace="base :: navlinks"></div>
        <br />
        <p>Name: John Kneisler</p>
        <p>Email: John.Kneisler@gmail.com</p>
        <p>LinkedIn: </p>
        <p>I grew up in Michigan, and lived in North Carolina and Georga before moving to Maryland in 1995.</p>
        <p>At this time I also changed careers from Chemistry to IT.  I began working for a small firm in
        Bethesda as a programmer and systems administrator.  UNIX was the platform that I was familiar with and I
        primarily programmed in perl.  After several years I moved on to Lockheed Martin and then Raytheon and also
        and transitioned from programming to management.</p>
        <p>It is my hope that classes like the Java Bootcamp will allow me to be more familiar with the current
        technology and who knows, I may go back to programming.</p>
    </div>

    <!-- JS code: insert this just before the </body> tag  (this version fits on a page) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous">
    </script>
    <!-- END JS code -->
</body>
</html>